{% extends 'base.html' %}

<img src="">

<form class=rightside>
    <input type="text" placeholder="Search.." id="search">
    <button type="submit">Search</button>

</form>

{% block title %}S&SLecture{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<button id="logout" onclick="window.location.href = '{% url 'logout' %}';">Logout</button>
{% else %}
You are not logged in
<button id="login" onclick="window.location.href = '{% url 'login' %}';">Login</button>

{% endif %}


<h1>Popular</h1>
<div>

</div>
<h1>Lastest</h1>
<div>

</div>
<button id="Upload" onclick="window.location.href = '{% url 'upload' %}';">Upload</button>
{% endblock %}