<html>
    <style>
        div{background-color: lightgrey; width: 1000px;  padding: 50px;  margin: 20px;}
        .rightside{float: right;}

        

    </style>
    <title>S&SLecture</title>
    <div>
        <img src="">
        
        <form class=rightside >
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Search</button>
            
        </form>
        <button class=rightside type="button">Login</button>
    </div>
    <h1>Popular</h1>
    <div>

    </div>
    <h1>Lastest</h1>
    <div>
        
    </div>
    
</html>