{% extends 'base.html' %}
{% load static %}

{% block title %}S&SLecture Home{% endblock %}

{% block content %}
<div id="HomepageMainArea">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="main">
                <i class="fa fa-trophy"></i>
                <h1>Popular</h1>
                <hr>
                <br>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>

                            <!-- Username -->
                            <a class="subinfo__author" href="#">
                                <img class="subinfo__author__img" alt="ผู้เยี่ยมชม"
                                    src="https://s3-ap-northeast-1.amazonaws.com/image.speedy-edu.com/uploads/user/avatar/1191784/thumb_m_3e1ecd3a31.jpg">
                                <span class="subinfo__author__name">Username</span>
                            </a>

                            <!-- Views -->
                            <p class="card-text">Views</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="album py-5 bg-light">
        <div class="container">

            <div class="main">
                <i class="fa fa-trophy"></i>
                <h1>Lastest</h1>
                <hr>
                <br>
            </div>

            <div class="row">
                {% for note in noteWithThumbnail %}
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="{{ note.thumbnail.image.url }}"
                                alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title" id="lastestNote{{ forloop.counter }}">{{ note.note.title }}</h4>

                            <!-- Username -->
                            <a class="subinfo__author" href="#">
                                <img class="subinfo__author__img" alt="image not found" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                    src="{{ note.note.author.profilePicture.url }}">
                                <span class="subinfo__author__name">{{ note.note.author }}</span>
                            </a>

                            <!-- Views -->
                            <p class="card-text">Views</p>

                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>

</div>
{% endblock %}