{% extends 'base.html' %}

{% block title %}S&SLecture Note{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.username != noteObj.author.user.username %}
    <form action="" method="post">
        {% csrf_token %}
        <button type="summit" name="noteID" value="{{ noteObj.id }}">Save Note</button>
    </form>
    {% endif %}
{% else %}
<a href="/accounts/login">please login to save notes</a>
{% endif %}
<div>

    {{ noteObj.title }}
    <br>
    {{ noteObj.description }}

    <br>
    {% for image in imageObjList %}

    <img src="{{ image.image.url }}"><br>


    {%endfor %}


</div>

{% endblock %}