{% extends 'base.html' %}

{% block title %}S&SLecture Profile{% endblock %}

{% block content %}
<div class="container-fulid">
    <div class="row justify-content-left">
        <div class="col-md-2" style="padding-left: 2%;padding-top: 2%;">
            {% if profile.profilePicture %}
            <img style=" width: 150px; height: 150px; border-radius: 50%;display: block;
            margin: 0 auto;" src="{{profile.profilePicture.url}}">
            {% else %}
            <img style=" width: 150px; height: 150px; border-radius: 50%;display: block;
            margin: 0 auto;"
                src="https://s3-ap-northeast-1.amazonaws.com/image.speedy-edu.com/uploads/user/avatar/1191784/thumb_m_3e1ecd3a31.jpg">
            {% endif %}
            <br>
            <h1>{{user.username}}</h1>
            <p>0 view</p>

            <form method="post" enctype="multipart/form-data" id="profilePictureForm">
                {% csrf_token %}
                <div class="file btn btn-md btn-primary" style="position: relative;overflow: hidden;">
                    Select profile picture
                    <input type="file" name="profilePicture" accept="image/*" id="id_profilePicture"
                        style="position: absolute;font-size: 50px;opacity: 0;right: 0;top: 0;">
                </div>
            </form>
        </div>
        <div class="col-md-5" style="padding-left: 2%;padding-top: 2%;">
            <div>
                <h2>My Lecture</h2>
                <div class="row">
                    {% for note in myNote %}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">

                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top" src="{{ note.thumbnail.image.url }}" alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title" id="latestNote{{ forloop.counter }}">{{ note.note.title }}</h4>

                                <!-- Username -->
                                <a class="subinfo__author" href="#">
                                    {% if note.note.author.profilePicture %}
                                    <img class="subinfo__author__img" alt="image not found"
                                        style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                        src="{{ note.note.author.profilePicture.url }}">
                                    {% else %}
                                    <img class="subinfo__author__img" alt="image not found"
                                        style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                        src="https://s3-ap-northeast-1.amazonaws.com/image.speedy-edu.com/uploads/user/avatar/1191784/thumb_m_3e1ecd3a31.jpg">
                                    {% endif %}
                                    <span class="subinfo__author__name">{{ note.note.author }}</span>
                                </a>

                                <!-- Views -->
                                <p class="card-text">Views</p>

                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        <div class="col-md-5" style="padding-left: 2%;padding-top: 2%;">
            <div>
                <h2>Saved Lecture</h2>
                <div class="row">
                    <!-- {% for note in saveNote %}
                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow">
    
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ note.thumbnail.image.url }}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">

                        <h4 class="card-title" id="latestNote{{ forloop.counter }}">{{ note.note.title }}</h4>
                        <a class="subinfo__author" href="#">
                            {% if note.note.author.profilePicture %}
                            <img class="subinfo__author__img" alt="image not found"
                                style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                src="{{ note.note.author.profilePicture.url }}">
                            {% else %}
                            <img class="subinfo__author__img" alt="image not found"
                                style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                src="https://s3-ap-northeast-1.amazonaws.com/image.speedy-edu.com/uploads/user/avatar/1191784/thumb_m_3e1ecd3a31.jpg">
                            {% endif %}
                            <span class="subinfo__author__name">{{ note.note.author }}</span>
                        </a>
                        <p class="card-text">Views</p>

                    </div>
                </div>
            </div>
            {% endfor%} 
        </div>
    </div>
</div>-->
                </div>
            </div>
        </div>
        <script>
            document.getElementById("id_profilePicture").onchange = function () {
                document.getElementById("profilePictureForm").submit();
            };
        </script>
        {% endblock %}