<body>
    <html>
        <style>
            div{background-color: lightgrey; width: 350px;  padding: 50px;  margin: 20px;}
            .rightside{float: right;}
    
            
    
        </style>
        <title>S&SLecture</title>
         
        <form method="post" enctype="multipart/form-data" >
            <div>   
               
    
                
                {% csrf_token %}
                {% for hidden in LectureForm.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{LectureForm}}

                {{ Imageform.management_form }}
                {% for form in Imageform %}
                    {{ form }}
                {% endfor %}
                
    
            </div>

                
                <input type="submit" name="submitbutton" value="Submit">
        </form>
    
        
        
    </html>
</body>