
<body>
<html>
    <style>
        div{background-color: lightgrey; width: 350px;  padding: 50px;  margin: 20px;}
        .rightside{float: right;}

        

    </style>
    <title>S&SLecture</title>
     
    <form method="post" enctype="multipart/form-data" >
       {% csrf_token %}
        <div>
            {{Lecture}}
        {% for i in Lecture_img %}
            
            <img src="{{ i.image.url }}" height="100 width="100"><br>
        {%endfor %}
        </div>
        <div>   


            
                {{form.as_p}}
                


        </div>
            <input type="submit">
    </form>

    
    
</html>
</body>
